.Avto {
	height: 100%;
	width: 100%;
	border: 0px solid #000;
}
body {
margin: 0 auto;
width: 1150px;
}
.header1 {
	height: 124px;
	width: 100%;
	background: url(http://ipic.su/7yLueN.jpg) no-repeat top center;
	background-size: cover;
	background-position: center;
}
h2 {

	position	: absolute;
	top		: 68px;
	width		: 500px;
	color:#800080;
	margin-left: 530px;
} 
.tap {
	margin-top: -20px;
	background:url(http://ipic.su/7yFeoA.jpg) repeat-x;
	width: 1150px;
	height: 30px;
	color: #8B008B;
	font-size: 120%;
	font-weight: 1.8em;
}
.tap ul {
	list-style-type: none;
}
.tap li {
	display: inline;
	margin: 0 8px;
}
.tap li a {
	color:#8A2BE2;
}
.tap li a:hover{
	color:#8B008B;
}
a {
	text-decoration: none;
}
.cvet {
	margin-top: -20px;
background-color: #E6E6FA;

}






footer { 
margin-top: 200px; 
}

#vi {

    color: black;
    font-size: 150%;

text-align: center; 
}
#vi ul{
    list-style-type: none;
}
#vi li{
display: inline;
margin: 0 45px;

}
#vi li a{
color:rgb( 147, 112, 219);

}

a{
	text-decoration: none;

}
#fo{
	background: rgb(147, 112, 219);
	color: #FA8072;
	font-size: 50%;
	padding: 5px;
	clear: both;

}

/*форму входа и регистрации.*/

* {box-sizing: border-box}

/* Добавить отступы в контейнеры*/
.container {
  padding: 66px;
width: 60%;
	margin-bottom: 100px; 
  margin-left: 230px;
  margin-top: -150px;
background-color: #D8BFD8;
}

/* Поля ввода полной ширины */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*Перезаписать стили по умолчанию hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Установите стиль для кнопки отправки / регистрации */
.registerbtn {
  background-color: #800080;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Добавьте синий цвет текста в ссылки */
a {
  color: dodgerblue;
}

/* Установите серый цвет фона и отцентрируйте текст раздела «Войти» */
.signin {

  text-align: center;
padding: 2px;
}

h3 {
	color: #800080;
	text-align: center;
	/*top		: 68px;
	width		: 500px;
	color:#800080;
	margin-left: 450px;*/
}



.op  li {
    list-style-type: none; 
   }
.op 
	li:before {
    content: "💎 "; /* Добавляем в качестве маркера символ */
   }
.signin {
	margin-top: -75px;
}
.op {
	margin: 15px;
	padding: 10px;
}